/* chamada da fonte do google fonts  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* configurações globais da CSS  */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

:root {
  --color-azul: #0d3b66;
  --color-clara: rgb(250, 240, 202);
  --color-amarelo: #f4d35e;
  --color-laranja1: #ee964b;
  --color-laranja2: #f95738;
}

html {
  font-family: "Poppins", sans-serif;
  background-color: var(--color-clara);
  
}


.header {
  background-color: var(--color-azul);
  width: 100%;
  
}

.header__container {
  display: flex;
  padding: 1.5em;
  justify-content: space-evenly;
  align-items: center;
  gap: 2em;

  /* max-width: 1100px; */
}

.header__logo__link {
  display: flex;
  align-items: center;
  justify-items: center;
  text-decoration: none;
  gap: 1em;
}

.header__logo {
  display: flex;
  width: 45%;
  align-items: center;
}

.header__logo__img {
  width: 7.815em;
}

.header_logo_texto {
  color: white;
  font-size: 1.75em;
}

.navbar {
  display: flex;
  gap: 1.25em;
}

.navbar_item {
  background-color: var(--color-laranja2);
  border-radius: 0.5em;
  border: 1px;
  text-decoration: none;
  color: white;
  padding: 0.25em 0.55em;
  font-size: 1.25em;
}

.navbar_item:hover {
  background: var(--color-laranja1);
}

.rodape {
  padding: 1.5em 0;
  width: 100%;
  background-color: var(--color-azul);
  position: relative;
  left: 0;
  bottom: 0;
}

.rodape_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.rodape_gh {
  width: 50px;
}

.rodape_link {
  display: flex;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  gap: 1em;
  color: white;
}

.rodape_link:hover {
  transition: 0.25s;
  font-weight: 500;
}

.texto-justificado {
  text-align: justify;
}

.conteudo_principal {
  display: grid;
  justify-content: center;

}

.trab_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1100px;
  max-height: 400px;
  align-content: center;
  gap: 100px;
  margin: 50px 0;
  padding: 1em;
  
}

.foto {
  max-width: 100%;
  justify-self: center;
  display: block;
  max-height: 100%;
  border-radius: 10px;
  margin-top: 1em;
  padding: .5em;
}

.textos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  padding: 1em;
  text-align: center;
  color: #000000;
}


.textos__titulo {
  font-size: 2em;
}

.box {
  color: white;
  display: grid;
  justify-content: center;
}

.botao {
  background: var(--color-azul);
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 1.5em;
  border-radius: 4px;
  font-weight: bold;
  margin: 20px;
}

.botao:hover{
  transition: .25s;
  scale: 1.1;
}

/* a:visited,
a:hover {
    color: #000000;
} */



@media(min-width:805px) and (max-width: 905px ) {

  #primeira_image{
    margin-top: 3em;
  }

  #middle_image{
    margin-top: 7em;
  }

  
}

@media(min-width:775px) and (max-width: 805px ) {
  .textos{
    margin-top: 2em;
  }
  .trab_container{
    min-height: 100vh;
    padding: 2em;
    gap:1em;
    margin-top:1em;
    padding-top: 1em;
  }
  .trab > .textos{
    margin-top: 3em;
  }

  .textos__titulo{
    margin-top: 1.5em;
  }

  #primeira_image{
    margin-top: 10em;
  }

  #middle_image{
    margin-top: 14em;
  }


}
@media (max-width:775px) and (min-width:650px){
  
  .header__container{
    display: flex;
    flex-direction: column;
    margin-bottom: 5em;
  }
  .trab_container{
    margin-bottom: 7em;
  }

  #primeira_image{
    margin-top: 7em;
  }

  #middle_image{
    margin-top: 10em;
  }

}

  @media (max-width:650px){
    .header__container{
      display: flex;
      flex-direction: column;
    }
    .trab_container{
      margin-bottom: 35em;
      display: flex;
      flex-direction: column;
      height: 100vh;
    }
    .middle{
      margin-bottom: -15em;
      
    }
  }
  
  

  

  
  
  
  




