

/* div {
    margin: 250px auto;
    text-align: left;
    text-align: center;
    max-width: 50%;
    border-style: hidden;
    padding-left: 10px;
    background-color: var(--color-amarelo);
    border-radius: 20px;
    padding: 10px 100px;

} */

.container__feedback {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    min-height: 70vh;
}

.container__feedback__texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: grey;
    padding: 1em;
    border-radius: 10px;
    color: white;
    max-width: 650px;
}

.container__feedback__texto__titulo{
    font-size: 2em;
}


.btn__voltar__home{
    font-size: 1.15em;
    color: white;
}

.btn__voltar__home:hover {
    color: rgb(1, 185, 1);
    transition: .5s;
}


/* a {
    text-decoration: none;
}

a:hover {
    color: var(--color-laranja2);
}

a:active {
    color: var(--color-laranja2);
}

a:visited {
    color: var(--color-azul);
} */