.cabecalho-formulario {
  text-align: center;
  margin-bottom: 1em;
}

.formulario {
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  margin: auto;
  border-radius: 10px;
  max-width: 650px;
  background-color: grey;
  text-align: left;
  font-size: 1.25em;
  color: white;
  gap: 0.75em;
}

main {
  min-height: 61vh;
  margin: 2em 0;
}

.input__container {
  display: flex;
  flex-direction: column;
}

.input_input {
  font-size: 1em;
  padding: 0.3em;
  border-radius: 5px;
}

.textarea_placeholder {
  font-size: 1em;
  font-family: 'Poppins';
  font-weight: 400;
}

.container__btn {
  display: flex;
  justify-content: space-around;
}

.btn__enviar,
.btn__voltar {
  text-decoration: none;
  padding: 0.5em 1em;
  color: white;
  border-radius: 5px;
  box-shadow: 0.5px 0.5px 5px rgba(0, 0, 0, 0.44);
}

.btn__enviar:hover,
.btn__voltar:hover {
  scale: 1.05;
  transform: 0.5s;
}

.btn__voltar {
  background-color: red;
}

.btn__enviar {
  background-color: green;
}

textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border-color: var(--color-laranja1);
    outline: 0;
} 