/* criando as roots */

:root{
    --color-azul:#0D3B66;
    --color-clara:#FAF0CA;
    --color-amarelo:#F4D35E;
    --color-laranja1:#EE964B;
    --color-laranja2:#F95738;
}

header{
    background-color: var(--color-azul);
    height:100px;
}

.container-jogo{
    width: 100%;
    min-height: 100vh;
    background-color: var(--color-clara);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    text-align: center;
}

.jogo{
    width: 100%;
    height: 100vh;
}

.jogo h1{
    font-size: 30px;
    padding: 1.5rem;
    font-size: 2rem;
    font-weight: 600;
}

.jogo iframe{
    width: 70%;
    height: 75vh;
    box-shadow: 1px 1px 5px rgb(0, 0,0,.5);
}

.detalhes-jogo{
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-clara);
}

.detalhes-jogo h2{
    padding: 1.5rem;
    font-size: 2rem;
    font-weight: 600;
}

.detalhes-jogo ul{
    list-style: none;
    display: flex;
    padding: 10px;
    gap: 30px;
    margin-bottom: 20px;
}

.detalhes-jogo li{
    padding: 10px 50px;
    background-color: var(--color-azul);
    color: var(--color-clara);
    font-weight: 800;
    border-radius: 3px;
    box-shadow: 1px 1px 3px rgb(0, 0,0,.5);
}

.detalhes-jogo p{
    width: 70%;
    padding: 20px;
}
