/* chamada da fonte do google fonts  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* configurações globais da CSS  */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-azul: #0d3b66;
  --color-clara: rgb(250, 240, 202);
  --color-amarelo: #f4d35e;
  --color-laranja1: #ee964b;
  --color-laranja2: #f95738;
}

html {
  font-family: "Poppins", sans-serif;
  background-color: var(--color-clara);
}

.header {
  background-color: var(--color-azul);
}

.header__container {
  display: flex;
  padding: 1.5em;
  justify-content: space-evenly;
  align-items: center;
  gap: 2em;

  /* max-width: 1100px; */
}

.header__logo__link {
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 1em;
}

.header__logo {
  display: flex;
  width: 45%;
  align-items: center;
}

.header__logo__img {
  width: 7.815em;
}

.header_logo_texto {
  color: white;
  text-decoration: none;
  font-size: 1.75em;
}

.navbar {
  display: flex;
  gap: 1.25em;
}

.navbar_item {
  background-color: var(--color-laranja2);
  border-radius: 0.5em;
  border: 1px;
  text-decoration: none;
  color: white;
  padding: 0.25em 0.55em;
  font-size: 1.25em;
}

.navbar_item:hover {
  background: var(--color-laranja1);
}

.rodape {
  padding: 1.5em 0;
  width: 100vw;
  background-color: var(--color-azul);
  position: relative;
  bottom: 0;
  left: 0;
}

.rodape_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.rodape_gh {
  width: 50px;
}

.rodape_link {
  display: flex;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  gap: 1em;
  color: white;
}

.rodape_link:hover {
  transition: 0.25s;
  font-weight: 500;
}

.texto-justificado {
  text-align: justify;
}
